@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* COLOURS */

    /* BACKGROUND-GRADIENT */

    --clr-gradient-violet: hsl(273deg 75% 66%);
    --clr-gradient-blue: hsl(240deg 73% 65%);

    /* PRIMARY COLOURS */

    --clr-primary-blue: hsl(238deg 29% 16%);
    --clr-primary-red: hsl(14deg 88% 65%);

    /* NEUTRAL COLOURS */

    --clr-neutral-gray-200: hsl(240deg 5% 91%);
    --clr-neutral-gray-600: hsl(240deg 6% 50%);
    --clr-neutral-gray-800: hsl(237deg 12% 33%);

    /* FONTS */

    --ff-main: "Kumbh Sans", sans-serif;

    /* WIDTHS */
    --width-card: 375px;
}

body {
    font-family: var(--ff-main);
    background-image: linear-gradient(to top, var(--clr-gradient-blue), var(--clr-gradient-violet));
    background-repeat: no-repeat;
    height: 120vh;
    max-width: 420px;
    margin: 0 auto;
}

[class$="desktop"] {
    display: none;
}

.container-absolute {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 25px;
    margin: 130px 20px 0;
    box-shadow: 10px 25px 50px 10px #563ca1;
}

.container-img {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    top: -100px;
}

[class^="img-girl"] {
    max-width: calc(var(--width-card) - 25px);
    position: relative;
    left: -15px;
}

.pattern {
    max-width: calc(var(--width-card) - 40px);
    position: absolute;
    bottom: -10px;
}

.container-faq {
    position: relative;
    top: -95px;
    align-self: center;
    padding: 0 15px;
}

.container-question {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid var(--clr-neutral-gray-600);
}

.container-question:last-child {
    margin: 0;
}

.question {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    text-align: left;
}

.question h2 {
    font-size: 0.85em;
    font-weight: 400;
}

.container-question p {
    font-size: 0.8em;
    width: calc(100% - 20px);
}

.arrow-svg {
    align-self: stretch;
    object-fit: scale-down;
}

.title {
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    margin: 25px 0;
}
