@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* COLOURS */

    /* BACKGROUND-GRADIENT */

    --clr-gradient-violet: hsl(273deg 75% 66%);
    --clr-gradient-blue: hsl(240deg 73% 65%);

    /* PRIMARY COLOURS */

    --clr-primary-blue: hsl(238deg 29% 16%);
    --clr-primary-red: hsl(14deg 88% 65%);

    /* NEUTRAL COLOURS */

    --clr-neutral-gray-200: hsl(240deg 5% 91%);
    --clr-neutral-gray-600: hsl(240deg 6% 50%);
    --clr-neutral-gray-800: hsl(237deg 12% 33%);

    /* FONTS */

    --ff-main: "Kumbh Sans", sans-serif;

    /* WIDTHS */
    --width-card: 375px;
}

body {
    font-family: var(--ff-main);
    background-image: linear-gradient(to top, var(--clr-gradient-blue), var(--clr-gradient-violet));
    background-color: var(--clr-gradient-blue);
    background-repeat: no-repeat;
    margin: 25px;
}

.main {
    position: relative;
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 25px;
    box-shadow: 10px 25px 50px 10px #563ca1;
}

.fix-img {
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 225px;
    background:
        url("svg/bg-pattern-mobile.svg") center 60px,
        url("svg/illustration-woman-online-mobile.svg") center top;
    background-color: transparent;
    background-size: 250px;
    background-repeat: no-repeat;
    animation: 2s ease-out 0s infinite alternate float;
}

.container-faq {
    position: relative;
    align-self: center;
    padding: 8.5em 25px 25px;
    width: 100%;
}

.container-question {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 1em 0;
}

.container-question:last-child {
    margin: 0;
}

.question {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    text-align: left;
    cursor: pointer;
}

.question__title__text {
    font-size: 0.85em;
    font-weight: 400;
}

.question__title__text:hover {
    color: var(--clr-primary-red);
}

.arrow-svg {
    align-self: stretch;
    object-fit: scale-down;
}

.text {
    display: none;
    font-weight: 300;
    font-size: 0.8em;
}

.title {
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    margin-bottom: 0.5em;
}

.question__button {
    background: none;
    border: none;
}

.show-text .text {
    display: block;
}

.show-text .question__title__text {
    font-weight: 700;
    color: #000;
}

.show-text .question__button {
    transform: rotateX(180deg);
}

@keyframes float {
    from {
        top: -110px;
    }

    to {
        top: -90px;
    }
}

@media screen and (min-width: 900px) {
    .fix-img {
        display: none;
    }

    body {
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
    }

    .main {
        margin: 0;
        flex-direction: row-reverse;
        width: 70%;
        background: url("svg/bg-pattern-desktop.svg") -50px center / 40% no-repeat;
        background-color: #fff;
    }

    .title {
        text-align: left;
    }

    .container-faq {
        width: 50%;
        padding: 50px 75px 50px 0;
    }
}
